.ul.List{
    list-style-type: square;
  }
  .List{
    position: relative;
    top: 330px;
    float: left;
    margin-bottom: 30%;
    left: 60px;
  }
  h4{
    color: $black-color;
  }
.Info{
    position: relative;
    top: 290px;
    right: 45px;
    float: left;

}
.Info{
    font-size: 24px;
}