@import './sass-components/imports';
.Loader{
    position: fixed;
    right: 25%;
    left: 25%;
    top: 40%;
    bottom: 25%;
    max-height: 100% !important;
    animation: show_loader 1s ease forwards;
    margin-top: 3rem;
    .Loader-content{      
    background-color: $end-point; 
    border: 2px solid $black-color;
    border-radius: 1rem;
    max-width: 57%;
    width: 15rem;
    padding:  6rem 8rem 6rem 8rem;
        .title{
            font-size: .88rem !important;
        }
        .Loader-logo{
            span{
                display: inline-block;
                background-color: $button-background-color;
                max-width: 50%;
                max-height: 50%;
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
                margin: 15rem 1.5rem;
                transform: translate3d(0, -2rem, 0);
                animation: bounce .5s infinite alternate;
            }
            span:nth-child(2){
                background-color: $secondary-color;
                animation-delay: .2s;
            }
            span:nth-child(3){
                animation-delay: .1s;
            }
        }
        @keyframes bounce {
            from {
                width: 1rem;
                height: 1rem; 
                transform: translate3d(0, -2rem, 0);
                transform: translateY(30%);
            }
            to {
                width: 2rem;
                height: 2rem;
                transform: translate3d(0, -2rem, 0);
                transform: translateY(30%);
            }
        }
    }
    h2{
    color: $black-color !important;
    }
}
@keyframes show_loader{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;

    }
}
@keyframes fadeout{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;

    }
}
.transition {
    animation: 1.5s ease-in 0s SlideLeft;
  }