@import './sass-components/imports';
.section-creation {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  width: 100% !important;
  justify-content: center;
  h1 {
    max-width: 100% !important;
    min-width: 100%;
    text-align: center;
  }
  .btn-group {
    align-items: center;
    justify-content: center;
    width: 100% !important;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    max-width: 100%;
    .Btn-Primary {
      min-width: 30%;
      max-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    svg {
      margin-right: 0.5rem;
    }
    p {
      font-family: $button-font;
      font-weight: 600;
      outline: none;
      font-size: 1.25rem !important;
      color: white !important;
    }
    .red {
      background-color: red !important;
    }
  }
  .search-bar {
    @include FlexCenter;
    width: 100%;
    .search-input {
      width: 50%;
      padding: 1rem;
      font-family: $body-font;
      font-weight: 500;
      font-size: 1.25rem;
    }
    .btn-search {
      padding: 1rem;
      font-family: $body-font;
      font-weight: 500;
      font-size: 1.25rem;
    }
  }
  //* table css
  @include table;
  .section-table {
    .Btn-Primary {
      //when no space, add elipsis instead
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
