// font-family: 'Noto Sans TC', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Quicksand', sans-serif;
$main-bg-color: #d4805f;
$secondary-color: #0bc4e0;
$button-background-color: #1e519e;
$mid-point: #EED032;
$background-content-color: #cb3dfe;
$font-color: #ffffff;
$highlights: #2debc4;
// $end-point: #78e7f6;
$end-point: #0bc4e0;
$blue-color: #0000ff;
$skyblue-color: #008cff;
$lightblue-color: #6c9aff;
$grey-color: #e6e6e6;
$black-color: #000000;
$red-color: #ff0000;
$orange-color: #d37a07;
$lightred-color: #bc4558;
$darkred-color: #8b0000;
$green-color: #008000;
$lightgreen-color: #0ab86f;
$bluegreen-color: #008999;
$darkgray-color: #999999;
$blueviolet-color: #8a2be2;
$backgroundgrey-color: #c4c4c4;
$about-box-color: #eed032;

$padding-button-size: 0.5em 2.5em;
$nav-color: #b02166;
$default-row: #{1}/ 7;
$radius: 5px;
$title-font: 'Quicksand', sans-serif;
$body-font: 'Poppins', sans-serif;
$button-font: 'Noto Sans TC', sans-serif;
$text-box-font: 'Quicksand', sans-serif;
$sub-title-font: '';
$phone-size: 320px;
$tablet-size: 769px;
